[Unit]
Description=gunicorn for OMSA Web Redux
After=network.target

[Service]
User=omsa
Group=omsa
WorkingDirectory=/opt/dell-omreport-web
Environment="PATH=$PATH:/opt/dell-omreport-web/"
ExecStart=/usr/local/bin/gunicorn --workers 5 -b 127.0.0.1:5000 main:app