{% extends "base.html" %}

{% block app_content %}
<div class="page-header">
    <h1>Info for {{ server }}</h1>
</div>

<h2>Memory</h2>
{% if data %}
<div class="container"> 
    <div class="row">
        {% for item in data %}
        <div class="col-sm">
            <ul class="list-group">
                <li class="list-group-item">{{ item }}</li>
                <li class="list-group-item list-group-item-primary">Manufacturer: {{ data[item].Manufacturer }}</li>
                {% if data[item].Status != "0" %}
                <li class="list-group-item list-group-item-danger">Status: {{ data[item].Status }}</li>
                {% else %}
                <li class="list-group-item list-group-item-success">Status: {{ data[item].Status }}</li>
                {% endif %}
            </ul>


            
            
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<div class="container"> 
    <div class="row">       
        <div class="col-sm">
            {{ item }}
        </div>
    </div>
</div>
{% endif %}

{% endblock %}